<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Due Date</th>
    <th scope="col">Status</th>
    <th scope="col">Priority</th>
  </tr>
</thead>
@if(visible){
    <table class="table table-hover">
      <tbody>
        <tr class="table-active">
          <th>
            <input type = "title" [(ngModel)] = "newTask.title">
          </th>
          <td><input type="text" [(ngModel)] = "newTask.description"></td>
          <td><input type="text" [(ngModel)] = "newTask.dueDate"></td>
          <td>
            <select class = "form-select" [(ngModel)] = "newTask.status">
            <div>
                <option>Pending</option>
                <option>In Progress</option>
                <option>Completed</option>
            </div>
            </select>
          </td>
          <td>
            <select class = "form-select" [(ngModel)] = "newTask.priority">
            <div>
                <option>High/option>
                <option>Medium</option>
                <option>Low</option>
            </div>
        </select>
          </td>
          <button type = "button" class = "bt btn-primary" (click) = "Confirm()">Confirm</button>
        </tr>
    </tbody>
</table>
} @else {
    <tbody>
        <tr class="table-active">
            <td>{{newTask.title}}</td>
            <td>{{newTask.description}}</td>
            <td>{{newTask.dueDate}}</td>
            <td>{{newTask.status}}</td>
            <td>{{newTask.priority}}</td>
            <TD>
            <button type = "button" class = "btn btn-primary" (click)="Edit()">Edit</button>
          </TD>
        </tr>
    </tbody>
  }
  </table>